 @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

 .selectable {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: solid;
    border-color: rgb(65, 80, 108);
    border-radius: 10px;
    margin: 5px;
    align-items: center;
    margin-bottom: 45px;
    background-color: rgb(205, 236, 255);
}

.body{
    font-family: 'Teko', sans-serif;
    font-size: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    background-color: rgb(65, 80, 108);
    font-family: 'Teko', sans-serif;
    padding: 10px;
}

.navi {
    padding: 15px;
}

.tab{
    background-color: rgb(181, 232, 255);
    border: solid;
    border-color: rgb(107, 172, 233);
    margin: 15px;
    padding-inline: 25px;
    border-radius: 20px;
    text-decoration: none;
    color: black;

}

.tab:hover {
    background-color:rgb(107, 172, 233);
    border-color: rgb(181, 232, 255);
    color: beige;
}

.tab-active {
    background-color:rgb(107, 172, 233);
    border: solid;
    border-color: rgb(181, 232, 255);
    margin: 10px;
    padding-inline: 25px;
    border-radius: 20px;
    text-decoration: none;
    color: beige;
}

.tab-active:hover{
    color: beige;
}

.selectableText {
    color: rgb(48, 80, 155);
    font-size: 30px;
    text-align: center;
    
}

figcaption{
    font: 20px;
}

section{
    border-inline: 0px;
    border-top: 0px;
    border-style:solid;
    border-color: rgb(65, 80, 108);
    margin-top:50px;
}

.icon-link{
    height: 200px;
    width: 200px;
}